<%= link_to gravatar_for(user, size: 50), user %>
<h1><%= user.name %></h1>

<% if current_page?(root_path) %>
  <p>
  <span><%= button_to "プロフィールを見る！", user, {method: :get, class: "ungeneral_button",form: {style: 'display:inline;'}} %></span>
  </p>
<% elsif current_user?(@user) %>
  <p>
  <span><%= button_to "自己紹介を書いてみる！", edit_user_path(current_user), {method: :get, class: "ungeneral_button",form: {style: 'display:inline;'}} %></span>
  </p>
<% else %>
  <p></p>
<% end %>

<span clas = "post_count">お題投稿数:<%= user.subject_posts.count %></span>
<span clas = "post_count">ひとこと投稿数:<%= user.reply_posts.count %></span>
<span clas = "post_count">フィードバック投稿数:<%= user.feedback_posts.count %></span>
