<%# フィードバックを選んでもらうためのインデックスのパーシャル %>
<%# クリックしたら、それぞれsubject#show, reply#showに飛ぶ%>
<%# そこに、reply, feedbackのformが用意してある %>

  <div class = each_post_container>

    <div class = "reply_subject_post">
          <%#reply_postのsubject_postの部分%>
          <%= render "/subject_posts/subject_post", subject_post: reply_post.subject_post  %>
    </div>

    <div class = "reply_post">
      <div id="reply_post-<%= reply_post.id %>">
        <%= render 'shared/post_image', post: reply_post %>

        <div class = "reply_content">
          <%= reply_post.content %>
        </div>

<%#もし、ひとことのshow(詳細ページ)だったら「フィードバックをする！」ボタンは表示しない%>
        <% if current_page?("/reply_posts/#{reply_post.id}") %>
          <div></div>
        <%else%>
          <div class = "feedback_button_field">
            <%= button_to  "フィードバックをする！", reply_post_path(reply_post), {method: :get, class: "general_button"} %>
          </div>
        <% end %>

        <span class="timestamp">
           <%= time_ago_in_words(reply_post.created_at) %>前
        </span>
      </div>
    </div>
  </div>
