<%# フィードバックを選んでもらうためのインデックスのパーシャル %>
<%# クリックしたら、それぞれsubject#show, reply#showに飛ぶ%>
<%# そこに、reply, feedbackのformが用意してある %>

  <div class = each_post_container>

    <div class = "reply_subject_post">
          <%#reply_postのsubject_postの部分%>
          <%= render "/subject_posts/subject_post", subject_post: reply_post.subject_post  %>
    </div>

    <div class = "reply_post">
      <div id="reply_post-<%= reply_post.id %>">

        <div class = "post_image">
          <%= render 'shared/post_image', post: reply_post %>
          <span>のひとこと</span>
        </div>
<br>
        <div class = "reply_content">
          <%= reply_post.content %>
        </div>
<br>
        <%# タイムスタンプ(～前みたいなん)%>
        <%= render 'shared/timestamp', post: reply_post %>

  <%#もし、ひとことのshow(詳細ページ)だったら「フィードバックをする！」ボタンは表示しない%>
          <% if current_page?("/reply_posts/#{reply_post.id}") %>
            <div></div>
          <%else%>
            <div class = "feedback_button_field">
              <%= button_to  "フィードバックをする！", reply_post_path(reply_post), {method: :get, class: "general_button"} %>
            </div>
          <% end %>



      </div>
    </div>
  </div>
