<div class = "container">
  <div class = "subject_post">
    <div class = "subject_post">

      <li id="subject_post-<%= @reply_post.subject_post.id %>">
        <%= link_to gravatar_for(@reply_post.subject_post.user, size: 50), @reply_post.subject_post.user %>
        <span class="user"><%= link_to @reply_post.subject_post.user.name, @reply_post.subject_post.user %></span>

        <div>
          <%= link_to(subject_post_path(@reply_post.subject_post), class: 'subject-content') do %>
          <%= image_tag @reply_post.subject_post.img.url if @reply_post.subject_post.img? %>
          <% end %>
        </div>

        <span class="timestamp">
           <%= time_ago_in_words(@reply_post.subject_post.created_at) %>前
        </span>
      </li>

    </div>
  </div>

  <div class = "reply_post">

    <li id="reply_post-<%= @reply_post.id %>">
      <%= link_to gravatar_for(@reply_post.user, size: 50), @reply_post.user %>
      <span class="user"><%= link_to @reply_post.user.name, @reply_post.user %></span>


      <div class = "reply_content">
        <%= @reply_post.content %>
      </div>

      <div>
        <%= button_to(reply_post_path(@reply_post), class: 'reply-content'), {method: :get, class: "general_button"} %>
      </div>


      <span class="timestamp">
         <%= time_ago_in_words(@reply_post.created_at) %>前
      </span>
    </li>
  </div>


  <div class = "feedback_form">
    <%= render "shared/feedback_posts_form" %>
  </div>

</div>
