<div class = "each_post_container">
  <div class = "subject_post">

    <div id="subject_post-<%= subject_post.id %>">
      <%= render 'shared/post_image', post: subject_post %>

      <div>
        <%= link_to(subject_post_path(subject_post), class: 'subject-content') do %>
          <%  if subject_post.img? %>
            <%= image_tag(subject_post.img.url, class: 'subject_image')%>
          <% end %>
        <% end %>
      </div>

      <%# タイムスタンプ(～前みたいなん)%>
      <%= render 'shared/timestamp', post: subject_post %>

      <%= render "/shared/subject_post_tag_list", subject_post: subject_post  %>
    </div>

  </div>
</div>
