<li id="subject_post-<%= subject_post.id %>">
  <%= link_to gravatar_for(subject_post.user, size: 50), subject_post.user %>
  <span class="user"><%= link_to subject_post.user.name, subject_post.user %></span>


      <%= image_tag subject_post.img.url if subject_post.img? %>


  <span class="timestamp">
    Posted <%= time_ago_in_words(subject_post.created_at) %> ago.
  </span>
</li>
