
<% @feedback_posts.each do |feedback_post| %>

  <div class = "subject_post">

    <div id="subject_post-<%= feedback_post.reply_post.subject_post.id %>">
      <%= link_to gravatar_for(feedback_post.reply_post.subject_post.user, size: 50), feedback_post.reply_post.subject_post.user %>
      <span class="user"><%= link_to feedback_post.reply_post.subject_post.user.name, feedback_post.reply_post.subject_post.user %></span>

      <div>
        <%= link_to(subject_post_path(feedback_post.reply_post.subject_post), class: 'subject-content') do %>
        <%= image_tag feedback_post.reply_post.subject_post.img.url if feedback_post.reply_post.subject_post.img? %>
        <% end %>
      </div>

      <%#タグ%>
      <div class = "tag_list_container">
      <span class = "tag_list_name"> タグリスト </span>

      <span class = tag_list>

      <% if feedback_post.reply_post.subject_post.tags.present? %>
        <% feedback_post.reply_post.subject_post.tags.each do |list| %>
            <%= link_to list.tag_name, tag_subject_posts_path(tag_id: list.id) %>
        <% end %>
      <% end %>
      </span>
      </div>
      <%# タグここまで%>

      <span class="timestamp">
         <%= time_ago_in_words(feedback_post.reply_post.subject_post.created_at) %>前
      </span>
    </div>

  </div>


  <div class = "reply_post">

    <div id="reply_post-<%= feedback_post.reply_post.id %>">
      <%= link_to gravatar_for(feedback_post.reply_post.user, size: 50), feedback_post.reply_post.user %>
      <span class="user"><%= link_to feedback_post.reply_post.user.name, feedback_post.reply_post.user %></span>

      <div class = "reply_content">
        <%= feedback_post.reply_post.content %>
      </div>

      <div>
        <%= button_to "フィードバックをする！", reply_post_path(feedback_post.reply_post), {method: :get, class: "general_button"} %>
      </div>

      <span class="timestamp">
         <%= time_ago_in_words(feedback_post.reply_post.created_at) %>前
      </span>
    </div>
  </div>


  <div class = "feedback_post">
    <div id="feedback_post-<%= feedback_post.id %>">
      <%= link_to gravatar_for(feedback_post.user, size: 50), feedback_post.user %>
      <span class="user"><%= link_to feedback_post.user.name, feedback_post.user %></span>

      <%= link_to feedback_post_path(feedback_post) do %>
        <span class="content"><%= feedback_post.content %></span>
      <% end %>

      <span class="timestamp">
      <%= time_ago_in_words(feedback_post.created_at) %>前
      </span>

      <span class = "delete">
        <% if current_user?(feedback_post.user) %>
          <%= button_to "消去", feedback_post, {method: :delete, class: "general_button", data: { confirm: "本当に消去してもいいですか？" }} %>
        <% end %>
      </span>

      <span class = "edit">
        <% if current_user?(feedback_post.user) %>
          <%= button_to "編集", edit_feedback_post_path(feedback_post), {method: :get, class: "general_button"} %>
        <% end %>
      </span>
    </div>
  </div>

<% end %>
