
  <dev class = "feedback_post_container">

    <div class = "feedback_reply_subject_post">
          <%#feedback_postのsubject_postとreply_postの部分%>
          <%= render "/reply_posts/reply_post", reply_post: feedback_post.reply_post  %>
    </div>

    <div class = "feedback_post">
      <div id="feedback_post-<%= feedback_post.id %>">
        <%= link_to gravatar_for(feedback_post.user, size: 50), feedback_post.user %>
        <span class="user"><%= link_to feedback_post.user.name, feedback_post.user %></span>
  <br>
        <dev class = "feedback_content_box">
          <dev class = "feedback_content">
            <%= feedback_post.content %>
          </dev>
  <br>
          <span class="timestamp">
          <%= time_ago_in_words(feedback_post.created_at) %>前
          </span>
        </dev>
      </div>
      <span class = "details">
        <%= button_to "詳しく見る", feedback_post_path(feedback_post), {method: :get, class: "general_button"}%>
      </span>
    </div>

  </dev>
