<% provide(:title, "Edit feedback_post") %>
<h1>フィードバックの編集</h1>

<div class = "reply_post-form">
  <%= render "/reply_posts/reply_post", reply_post: @feedback_post.reply_post %>
</div>

  <div class = "feedback_form">
    <%= form_for(@feedback_post) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field" "フィードバック">
        <%= f.text_area :content, placeholder: "フィードバックを書いてください" %>
      </div>
      <%= f.submit "投稿する！", class: "btn custom_button" %>
    <% end %>
  </div>
