<header class="navbar navbar-expand-md navbar-dark" >
  <div class="container">
    <%= link_to image_tag("LinGoChan.png", alt: "LimGoChan"),
                  root_path, id: "logo"%>
    <nav id = "menu">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path, {class: "main-menu"} %></li>
        <li><%= link_to "概要", about_path, {class: "main-menu"} %></li>
        <li><%= link_to "ユーザー", users_path, {class: "main-menu"} %></li>

          <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle main-menu" data-toggle="dropdown">
              投稿 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= button_to "お題を投稿する", root_path, {method: :get, class: "drop_button"} %></li>
              <li><%= button_to "一言を書く", subject_posts_path, {method: :get, class: "drop_button"} %></li>
              <li><%= button_to "フィードバックをする", reply_posts_path, {method: :get, class: "drop_button"} %></li>
              <li><%= button_to "投稿一覧を見る", feedback_posts_path, {method: :get, class: "drop_button"} %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle account-drop main-menu" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

              <div class = "current_user">
                <%= render 'layouts/user_info_header' %>
              </div>

              <li><%= button_to "プロフィール", current_user, {method: :get, class: "drop_button"} %></li>
              <li><%= button_to "プロフィールの設定", edit_user_path(current_user), {method: :get, class: "drop_button"} %></li>
              <li class="divider"></li>
              <li>
                <%= button_to "ログアウト", logout_path, {method: :delete, class: "drop_button"} %>
              </li>
            </ul>
          </li>

        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>

    </nav>
  </div>
</header>
