<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "LinGoChan", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "LinGoChanって何?", about_path %></li>
        <li><%= link_to "投稿", '#' %></li>
        <li><%= link_to "一言", '#' %></li>
        <li><%= link_to "フィードバック", '#' %></li>
        <li><%= link_to "フォロー", '#' %></li>
        <li><%= link_to "フォロワー", '#' %></li>
        <li><%= link_to "タグ検索", '#' %></li>
        <li><%= link_to "アカウント", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
