<header class="navbar navbar-expand-md bg-dark navbar-dark bg-dark">
  <div class="container">
    <%= link_to image_tag("LinGoChan.png", alt: "LimGoChan"),
                  root_path, id: "logo"%>
    <nav id = "menu">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "LinGoChanって何?", about_path %></li>

          <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              投稿 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "お題を投稿する", root_path %></li>
              <li><%= link_to "一言を書く", subject_posts_path %></li>
              <li><%= link_to "フィードバックをする", reply_posts_path %></li>
              <li><%= link_to "投稿一覧を見る", feedback_posts_path %></li>
            </ul>
          </li>


          <li><%= link_to "他のユーザー", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "プロフィールの設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>

        <div class = "current_user">
          <%= render 'layouts/user_info_header' %>
        </div>

        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
        <li><%= link_to "タグ検索", '#' %></li
      </ul>

<%#= 検索枠 %>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

    </nav>
  </div>
</header>
